# PostgreSQL Admin Password
POSTGRES_PASSWORD=CabinetXAdmin2024!

# Service Database Passwords (one per microservice)
ANALYTICS_PASSWORD=gCP1iWt62JWz
APPOINTMENT_PASSWORD=O35qqWW9XO6K
BILLING_PASSWORD=GJ9sZoT54SN7
CHATBOT_PASSWORD=1rD5o631LlEn
CLINIC_PASSWORD=719TeW7Pwr5c
CONSULTATION_PASSWORD=18WJEDIwRun5
MEDICAL_RECORD_PASSWORD=JR82m1Csl505
MEDICATION_PASSWORD=xmORog9470o8
NOTIFICATION_PASSWORD=PdYc5WA51oVX
PATIENT_PASSWORD=V3un2ThYxr5v
PAYMENT_PASSWORD=blOf6BU6C3nX
PRESCRIPTION_PASSWORD=A093s03D93MV
QUEUE_PASSWORD=29a2Qv0erd9W
USER_PASSWORD=rRjP50voOc7d
